@{
  ViewData["Title"] = "Info";
}

<div class="text-center">
    <h1>Exercise #1</h1>
</div>

<div class="text">
    <p>Name: @ViewData["Name"]</p>
    <p>Date: @ViewData["Dat"]</p>
    <p>Environment: @ViewData["Envi"]</p>
    <p>ApplicationName: @ViewData["App"]</p>
    <p>Host: @ViewData["Host"]</p>
    <p>Protocol: @ViewData["Prot"]</p>
</div>
